page-login {
  .page-container {
    background-color: black;
    background-image: url("../assets/imgs/bg_login.png");
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-height: 100vh;
    padding: 30px 30px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    .img-logo {
      display: block;
      margin: auto;
      width: 60%;
    }

    .content-wrapper {
      align-items: flex-end;
      display: flex;
    }

    .content-container {
      text-align: center;
      color: white;
      width: 100%;

      .comment {
        font-size: 24px;
      }

      .form-wrapper {
        margin: auto;
        padding: 0;
      }
    }

    .forgot-pass-wrapper {
      display: flex;

      .forgot-pass {
        text-align: left;
      }
    }

    p {
      font-family: "Open Sans Light";
      font-size: 12px;
    }

    .action-container {
      font-family: "Open Sans Bold";
      margin-bottom: 16px;

      .bordered-btn {
        color: rgba(255, 255, 255, 0.8);
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.8);
        font-size: 14px;
        line-height: 30px;
        padding: 0 25px;
        border-radius: 0;
        text-transform: uppercase;
      }

      .bordered-btn:hover, .bordered-btn:focus, .bordered-btn:active, .bordered-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1);
        outline: none;
      }

      .btn-login-container {
        padding-bottom: 20px;
      }

      .btn-register-container {
        display: flex;
        flex-direction: column;
        a {
          font-size: 14px;
          color: #FFFFFF;
          margin: auto;
        }
      }

      .terms-condition {
        font-family: "Open Sans Light";
        font-size: 12px;
        margin: auto;
      }

      app-toast {
        position: relative;
        bottom: 8px;
        display: block;
        width: initial;
        margin: 0 -30px;
        text-align: left;

      }
    }

    .item-md {
      padding: 0;
      background-color: transparent;
      color: #fff;
    }
  }
}
