page-signup {
  .page-container {
    background-color: black;
    background-image: url("../assets/imgs/bg_register.png");
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-height: 100vh;
    padding: 30px 30px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    .img-logo {
      width: 60%;
      padding-bottom: 20px;
      display: block;
      margin: auto;
    }

    .content-wrapper {
      align-items: flex-end;
      display: flex;
      min-height: 300px;
      padding-bottom: 20px;
    }

    .content-container {
      text-align: center;
      color: white;
      width: 100%;

      .comment {
        font-size: 24px;
      }

      .form-wrapper {
        margin: auto;
        padding: 0;
      }
    }

    p {
      font-family: "Open Sans Light";
      font-size: 12px;
    }

    p.comment {
      font-size: 24px;
      text-align: center;
      color: #FFFFFF;
    }

    p.miss-match-pass {
      color: red;
      text-align: left;
    }

    .action-container a {
      text-transform: none;
      font-size: 14px;
      color: #FFFFFF;
    }

    .action-container {
      font-family: "Open Sans Bold";
      margin: 16px 0;

      .bordered-btn {
        color: rgba(255, 255, 255, 0.8);
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.8);
        font-size: 14px;
        line-height: 30px;
        padding: 0 25px;
        border-radius: 0;
        text-transform: uppercase;
        margin: auto;
      }

      .bordered-btn:hover, .bordered-btn:focus, .bordered-btn:active, .bordered-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1);
        outline: none;
      }

      .btn-register-container {
        display: flex;
        flex-direction: column;
        padding: 0 0 20px;
      }
    }

    .item-md {
      padding: 0;
      background-color: transparent;
      color: #fff;
    }
  }
}

